%h2 Edit Settings
%form{ :action => "/settings", :method => 'post' }
  %input{ :type => 'hidden', :name => '_method', :value => 'put' }
  %label{ :for => 'setting_username' } User Name:
  %input{ :type => 'text', :name => 'setting[username]', :id => 'setting_username', :value => "#{@settings.username.to_s}" }
  %label{ :for => 'setting_password' } Password:
  %input{ :type => 'text', :name => 'setting[password]', :id => 'setting_password', :value => "#{@settings.password.to_s}" }
  %label{ :for => 'setting_feed_url' } Feed URL
  %p.hint (Default: #{default_feed_url}):
  %input{ :type => 'text', :name => 'setting[feed_url]', :id => 'setting_feed_url', :value => "#{@settings.feed_url.to_s}" }
  %h3 Delete contents to restore default template
  %label{ :for => 'setting_template_layout' } Layout Template:
  %textarea{ :rows => '10', :cols => '80', :name => 'setting[template_layout]', :id => 'setting_template_layout' }  #{@settings.template_layout.to_s}
  %label{ :for => 'setting_template_index' } Index Template:
  %textarea{ :rows => '10', :cols => '80', :name => 'setting[template_index]', :id => 'setting_template_index' }  #{@settings.template_index.to_s}
  %label{ :for => 'setting_template_post' } Post Template:
  %textarea{ :rows => '10', :cols => '80', :name => 'setting[template_post]', :id => 'setting_template_post' }  #{@settings.template_post.to_s}
  %label{ :for => 'setting_template_css' } CSS Template:
  %textarea{ :rows => '10', :cols => '80', :name => 'setting[template_css]', :id => 'setting_template_css' }  #{@settings.template_css.to_s}
  %label{ :for => 'setting_template_js' } Javascript Template:
  %textarea{ :rows => '10', :cols => '80', :name => 'setting[template_js]', :id => 'setting_template_js' }  #{@settings.template_js.to_s}
  %input{ :type => 'submit', :name => 'Save', :value => 'Save' }
